[Desktop Entry]
Version=1.0
Type=Application
Name=DaVinci Resolve Installer
GenericName=DaVinci Resolve Installer
Comment=Installer wrapper for DaVinci Resolve on Debian derived distros
Path=/opt/drinstaller/
Exec=/opt/drinstaller/install_wrapper %f
Terminal=true
MimeType=application/x-resolveproj;
Icon=/opt/drinstaller/DV_Resolve.png
StartupNotify=true
Name[en_US]=DaVinci Resolve
